body {
    font-family: DejaVu Sans, sans-serif;
}

.tutorial-image {
    box-shadow: 0 0 2px black;
    width:80%;
    padding: 0 0 2rem 0;
}

.date-row {
    --bs-gutter-x: 0px !important;
}

.logo-ctt {
    margin-top: -20px;
    float: right;
    width: 50px!important;
    height: 50px!important;
}

.logo-ministerul-educatiei {
    height: 70px;
}

.linie_logo {
    color: black !important;
    opacity: 1 !important;
}

.text-ctt-centru {
    text-align: center;
}

.text-ctt-centru p {
    color: black;
    line-height: 30%;
}

.nr_data p {
    margin-top: 10px;
    color: black;
}

.head_adeverinta {
    text-align: center;
}

.head_adeverinta p {
    line-height: 30%;
    color: black;
    font-size: 24px;
}

.text-adeverinta-p {
    text-indent: 50px;
    line-height: normal !important;
    color: black;
}

.text-adeverinta-absolvire-p {
    text-indent: 50px;
    line-height: normal !important;
    text-align: justify;
    text-justify: inter-word;
}

.director {
    float:left;
    text-align: center;
}

.secretar {
    float:right;
    text-align: center;
}

.semnatari div p {
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 30%;
}

